// Sækja config
@import "config";
// Allir stílar fyrir haus


/*---haus---*/

.haus{
    width: 100%;
    grid-column: 1 / 12;
    height: 50vh;
    display: flex;
    color: #eeeeee;
    background-image: url(img/background.jpg);
    text-align: center;
  }
  
  .haus div{
    
        margin:auto;
      
  } 